<form role="form" (submit)="getList()">
    <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="userName">
    </div>
    <button type="submit" class="btn btn-primary">Find User by Name</button>
</form>

<p class="my-4 text-center" *ngIf="userDTOs.length === 0">No results</p>

<div class="card my-5" *ngIf="userDTOs.length > 0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is Friend</th>
                    <th>Has Sent Friend Request</th>
                    <th>Has Received Friend Request</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of userDTOs">
                    <td>{{ user.name }}</td>
                    <td><a [routerLink]="['/userprofile']" [queryParams]="{ email: user.email}">{{ user.email }}</a></td>
                    <td>{{ user.friend }}</td>
                    <td>{{ user.hasSentFriendRequest }}</td>
                    <td>{{ user.hasReceivedFriendRequest }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
