<form role="form" (submit)="getList()" class="search-form">
    <div class="form-group">
        <label for="userName" class="form-label">User Name:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="userName" placeholder="Search by name...">
            <button type="submit" class="btn btn-primary">Find User</button>
        </div>
    </div>
</form>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card my-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Is Friend</th>
                                <th>Has Sent Friend Request</th>
                                <th>Has Received Friend Request</th>
                                <th>User Image</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of userDTOs">
                                <td>{{ user.name }}</td>
                                <td>
                                    <a [routerLink]="['/userprofile']" [queryParams]="{ email: user.email }" class="email-link">{{ user.email }}</a>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="user.friend" class="badge badge-success">Yes</span>
                                    <span *ngIf="!user.friend" class="badge badge-danger">No</span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="user.hasSentFriendRequest" class="badge badge-primary">Yes</span>
                                    <span *ngIf="!user.hasSentFriendRequest" class="badge badge-secondary">No</span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="user.hasReceivedFriendRequest" class="badge badge-warning">Yes</span>
                                    <span *ngIf="!user.hasReceivedFriendRequest" class="badge badge-secondary">No</span>
                                </td>
                                <td class="text-center">
                                    <div class="user-image-container"  style="text-align: center;">
                                        <img *ngIf="user.imageURL !== ''" alt="" src="{{user.imageURL}}" class="img-thumbnail"  style="width: 150px; height: 150px;" />
                                        <span *ngIf="user.imageURL === ''" class="no-image-text">No image available</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
