<p>{{userMessage}}</p>
<form role="form" (submit)="register()">
  <div class="form-group">
    <label for="email">Email:</label> <input type="text"
                                             class="form-control" id="email" name="username" [(ngModel)]="user.email"/>
  </div>
  <div class="form-group">
    <label for="name">Name:</label> <input type="text"
                                           class="form-control" id="name" name="username" [(ngModel)]="user.name"/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label> <input type="password"
                                                   class="form-control" id="password" name="password" [(ngModel)]="user.password"/>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
