.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent; /* Updated background color */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.friend-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.friend-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-name {
    font-size: 18px;
    margin: 0;
}

.message-list {
    max-height: 300px;
    overflow-y: auto;
}

.message-item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.card-to-friend {
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 5px;
    margin-right: auto;
}

.card-body-to-friend {
    margin-right: 10px;
}

.card-title-to-friend {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.message-text-to-friend {
    margin: 0;
}

.message-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-to-me {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
}

.card-body-to-me {
    margin-left: 10px;
}

.card-title-to-me {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.message-text-to-me {
    margin: 0;
}

.chat-input-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.chat-input-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input-bar button {
    padding: 8px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.chat-input-bar button:hover {
    background-color: #45a049;
}

.message-list::-webkit-scrollbar {
    width: 0;
}
