<div class="container">
    <h2 class="text-center">Private Message</h2>

    <!-- Friend Info -->
    <div class="friend-info">
        <img src="../../assets/profileicon.png" alt="Friend Picture" class="friend-picture">
        <h3 class="friend-name">Friend's Name</h3>
    </div>

    <div class="message-list">
        <div class="message-item" *ngFor="let mess of messages">
            <div class="card-to-me" *ngIf="mess.senderEmail === auth.email">
                <div class="card-body-to-friend">
                    <h5 class="card-title-to-friend">Me</h5>
                    <p class="card-text-to-friend message-text-to-friend">You wrote this.</p>
                    <p class="card-text-to-friend message-text-to-friend">{{mess.content}}</p>
                    <p class="card-text-to-friend message-text-to-friend">{{mess.createdAtString}}</p>
                </div>
            </div>

            <img src="../../assets/profileicon.png" alt="Friend Picture" class="message-picture"
                 *ngIf="mess.receiverEmail === auth.email">
            <div class="card-to-friend" *ngIf="mess.receiverEmail === auth.email">
                <div class="card-body-to-me">
                    <h5 class="card-title-to-me">Friend</h5>
                    <p class="card-text-to-me message-text-to-me">This is a private message from your friend.</p>
                    <p class="card-text-to-m message-text-to-me">{{mess.content}}</p>
                    <p class="card-text-to-m message-text-to-me">{{mess.createdAtString}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Chat Input Bar -->
    <div class="chat-input-bar">
        <input type="text" placeholder="Type your message" [(ngModel)]="newMessage"/>
        <button (click)="sendMessage()">Send</button>
    </div>

</div>
