<div class="container">
    <h2 class="text-center">Private Message</h2>

    <!-- Friend Info -->
    <div class="friend-info">
        <img src="../../assets/profileicon.png" alt="Friend Picture" class="friend-picture">
        <h3 class="friend-name">Friend's Name</h3>
    </div>

    <div class="message-list">
        <div class="message-item">
            <img src="../../assets/profileicon.png" alt="Friend Picture" class="message-picture">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Friend</h5>
                    <p class="card-text message-text-to-me">This is a private message from your friend.</p>
                </div>
            </div>
        </div>
        <div class="message-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Me</h5>
                    <p class="card-text message-text-to-friend">This is your private message.</p>
                </div>
            </div>
        </div>
        <div class="message-item">
            <img src="../../assets/profileicon.png" alt="Friend Picture" class="message-picture">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Friend</h5>
                    <p class="card-text message-text-to-me">This is a private message from your friend.</p>
                </div>
            </div>
        </div>
        <div class="message-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Me</h5>
                    <p class="card-text message-text-to-friend">This is your private message.</p>
                </div>
            </div>
        </div>
        <div class="message-item">
            <img src="../../assets/profileicon.png" alt="Friend Picture" class="message-picture">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Friend</h5>
                    <p class="card-text message-text-to-me">This is a private message from your friend.</p>
                </div>
            </div>
        </div>
        <div class="message-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Me</h5>
                    <p class="card-text message-text-to-friend">This is your private message.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Chat Input Bar -->
    <div class="chat-input-bar">
        <input type="text" placeholder="Type your message" />
        <button>Send</button>
    </div>

</div>
