.friend-card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1.5rem;

}

.friend-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.friend-card .friend-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.friend-card .friend-info {
    color: #888;
    font-size: 0.9rem;
}

.friend-card .btn-danger {
    margin-left: auto;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #788BFF; /* Cornflower blue */
    border: none;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.friend-card .btn-danger:hover {
    background-color: #5465FF; /* Neon blue */
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.friend-card .btn-danger:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.friend-card .btn-danger:focus {
    outline: none;
}

.friend-card .btn-danger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.friend-card .btn-danger:hover:before {
    opacity: 1;
}

.friend-card .btn-danger:active:before {
    background-color: rgba(0, 0, 0, 0.15);
}

.friend-card hr {
    border-color: #eee;
}

.friend-card:last-child .hr-divider {
    display: none;
}

.friend-card .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.friend-list-item {
    padding-top: 20px;
}

.card-deck {
    margin: 0 -15px;
}

.friend-card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.friend-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.friend-info {
    color: #888;
}

.empty-friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.empty-friends-list p {
    margin-bottom: 1rem;
}

.find-friends-button {
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: #788BFF; /* Cornflower blue */
    border: none;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}

.find-friends-button:hover {
    background-color: #5465FF; /* Neon blue */
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.find-friends-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.find-friends-button:focus {
    outline: none;
}

.find-friends-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #000000, #333333);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

.find-friends-button:hover:before {
    opacity: 1;
}

.find-friends-button:active:before {
    background-color: rgba(0, 0, 0, 0.15);
}

.friend-name-link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
}

.friend-name-link:hover {
    color: #788BFF; /* Cornflower blue */
}

.user-image-container {
    text-align: center;
}

.user-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.no-image-text {
    display: block;
    text-align: center;
    font-style: italic;
    color: #999;
}

.btn-primary {
    position: relative;
    overflow: hidden;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    background-color: #788BFF; /* Cornflower blue */
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1; /* Set a higher z-index for the button text */
}

.btn-primary:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 200%;
    height: 200%;
    background-color: #000; /* Metallic Black */
    transition: transform 0.3s ease-in-out;
    z-index: -1; /* Set a lower z-index for the background element */
}

.btn-primary:hover {
    background-color: #5465FF; /* Neon blue */
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover:before {
    transform: rotate(225deg);
}

.btn-primary:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary:focus {
    outline: none;
}

.btn-primary:focus:before {
    background-color: rgba(0, 0, 0, 0.15);
}
