.card {
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin-bottom: 10px;
}

.card-text small {
    font-size: 12px;
}

.card-footer form input[type="text"] {
    flex: 1;
    margin-right: 10px;
    height: 38px;
    border-radius: 19px;
    border: 1px solid #ced4da;
    padding: 0 20px;
    font-size: 14px;
}

.card-footer form input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #4dabf7;
}

.card-footer form button[type="submit"] {
    background-color: #4dabf7;
    border: none;
    color: #fff;
    border-radius: 19px;
    padding: 6px 20px;
    font-size: 14px;
}

.card-footer form button[type="submit"]:hover {
    background-color: #389af1;
    cursor: pointer;
}

.btn-group button {
    margin-left: 10px;
}

.btn-group button i {
    margin-right: 5px;
}

.btn-group button:first-child {
    margin-left: 0;
}

.btn-group button:last-child {
    margin-right: 0;
}
