<div class="card border-0 shadow-sm mb-3">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <!-- Post title -->
                <h5 class="card-title">{{ feedPost.title }}</h5>
                <!-- Author information -->
                <p class="card-text mb-1"><small class="text-muted">By {{ feedPost.authorEmail }}</small></p>
                <!-- Post description -->
                <p class="card-text">{{ feedPost.description }}</p>
                <div *ngIf="feedPost.imageUrl">
                    <!-- Display image -->
                    <img src="{{feedPost.imageUrl}}" alt="" class="img-fluid">
                </div>
                <div *ngIf="feedPost.videoUrl && !feedPost.videoUrl.endsWith('null')">
                    <!-- Display video -->
                    <video controls class="img-fluid">
                        <source src="{{feedPost.videoUrl}}" type="video/mp4">
                    </video>
                </div>
                <!-- Time since post creation -->
                <p class="card-text"><small class="text-muted">{{ feedPost.sinceCreatedString }}</small></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <!-- Like, Share, and Comment counts -->
                        <i class="fas fa-thumbs-up mr-1"></i><span class="font-weight-bold">{{ feedPost.numberLikes }}</span> Likes
                        <i class="fas fa-share ml-3 mr-1"></i><span class="font-weight-bold">{{ feedPost.numberShares }}</span> Shares
                        <i class="fas fa-comment ml-3 mr-1"></i><span class="font-weight-bold">{{ feedPost.numberComments }}</span> Comments
                    </div>
                    <div class="btn-group mr-2" role="group">
                        <!-- Like button -->
                        <button type="button" class="btn btn-outline-primary btn-sm px-3" [hidden]="isLikedByCurrentUser()" (click)="addLike()"><i class="fas fa-thumbs-up"></i> Like</button>
                        <!-- Share button -->
                        <button type="button" class="btn btn-outline-primary btn-sm px-3" [hidden]="isSharedByCurrentUser()" (click)="addShare()"><i class="fas fa-share"></i> Share</button>
                        <!-- Delete button (visible to admin) -->
                        <button type="button" class="btn btn-outline-primary btn-sm px-3" *ngIf="auth.isAdmin" (click)="deletePost(feedPost.title)">Delete(Admin)</button>
                        <!-- Delete button (visible to post author) -->
                        <button type="button" class="btn btn-outline-primary btn-sm px-3" *ngIf="auth.email === feedPost.authorEmail" (click)="deletePost(feedPost.title)">Delete</button>
                    </div>
                </div>
                <hr>
                <!-- Display comments -->
                <div *ngFor="let comment of feedPost.comments" class="mb-3">
                    <p><strong>{{comment.authorEmail}}:</strong> {{comment.text}}</p>
                </div>
                <div class="upload-container" *ngIf="auth.email === feedPost.authorEmail">
                    <!-- Upload file button for image -->
                    <label class="btn btn-primary btn-sm upload-btn upload-image">
                        <input type="file" style="display:none" (change)="onPostImageSelected($event)">
                        Upload Image
                    </label>
                    <span>{{ imageUrl }}</span>
                </div>

                <div class="upload-container" *ngIf="auth.email === feedPost.authorEmail">
                    <!-- Upload file button for video -->
                    <label class="btn btn-primary btn-sm upload-btn upload-video">
                        <input type="file" style="display:none" (change)="onPostVideoSelected($event)">
                        Upload Video
                    </label>
                    <span>{{ videoUrl }}</span>
                </div>
            </div>
            <div class="card-footer">
                <!-- Add comment form -->
                <form (ngSubmit)="addComment(comment)" class="form-inline">
                    <div class="form-group mr-3">
                        <!-- Comment input field -->
                        <input type="text" class="form-control" placeholder="Add a comment" [(ngModel)]="comment" name="commentInput">
                    </div>
                    <!-- Post comment button -->
                    <button type="submit" class="btn btn-primary btn-sm">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
