.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-nav > li {
    margin: 0 10px;
    border-bottom: 1px solid #0F110C;
}

.custom-navbar {
    /*background-color: #E5E4E2;*/
    background-color: #F6F2FF;
    border-bottom: 1px solid #0F110C;
}
