<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" [hidden]="authenticated()">
          <a class="nav-link active" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" [hidden]="authenticated()">
          <a class="nav-link active"  routerLinkActive="active" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" [hidden]="!authenticated()" style="cursor: pointer">
          <a class="nav-link active" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item" [hidden]="!authenticated()">
          <a class="nav-link active"  routerLinkActive="active" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item" [hidden]="!authenticated()">
          <a class="nav-link active"  routerLinkActive="active" routerLink="/newpost">Newpost</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
