body {
    background-color: #F6F2FF;
    /*background-color: #ADA7C9;*/
}

.custom-app-feed {
    /*background-color: #FFFFF4;*/
    background-color: #F6F2FF;
    /*border: 5px solid #71797E;*/
    border: 5px solid #0F110C;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    border: 5px solid #28282B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.1);
    /*background-color: #FFFFF4;*/
    background-color: #F6F2FF;
}

.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #28282B;
    /*color: #ADA7C9;*/
}

.btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-info {
    background-color: #3423A6;
    border-color: #5465FF;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-info:hover {
    background-color: #5465FF;
    border-color: #3423A6;
}

.container {
    padding-top: 2rem;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }
}
