.container-fluid {
    padding: 20px;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.file-upload-text {
    font-size: 1rem;
}

.upload-btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #0069d9;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #138496;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    font-size: 1rem;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    font-size: 1rem;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.img-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}
